{% extends "shop/base.html" %}
{% load static %}

{% block title %}
	Меню
{% endblock %}

{% block content %}
		<main style="margin-top: calc(2rem + 85px);">
			<section class="foodplan__head_bg">
				<div class="container">
					<div class="d-flex w-50 py-lg-5 foodplan__head">
						<div class="d-flex flex-column justify-content-start foodplan__head_desc">
							<h1 class="mb-5"><b>Вдохновляем готовить дома!</b></h1>
							<h4>Мы планируем домашнее меню.<br>
									Вы получаете рецепты + список продуктов.<br>
									Больше не нужно думать, что готовить.</h4>
							<div class="d-block mt-3">
								<button class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Хочу попробовать</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
{% endblock %}


